@model List<WebFinal.Class.Product>

@{
    ViewBag.Title = "Cart";
}

<div>
    <table class="cart">
        <thead>
            <tr>
                <th class="product-name">Product Name</th>
                <th class="product-price">Price</th>
                <th class="product-qty">Quantity</th>
                <th class="action"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="product-name">
                        <div class="product-thumbnail">
                            <img src="~/Asset/thumb/@product.thumb" alt="">
                        </div>
                        <div class="product-detail">
                            <h3 class="product-title">@product.tensp</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nobis architecto dolorum, alias laborum sit odit, saepe expedita similique eius enim quasi obcaecati voluptates, autem eveniet ratione veniam omnis modi.</p>
                        </div>
                    </td>
                    <td class="product-price">@product.dongia</td>
                    <td class="product-qty">
                        @product.soluong
                    </td>


                        
                    </tr>
            }
        <tbody>
    </table> <!-- .cart -->

    <div class="cart-total">
        <strong>Order Time:</strong>
        <p class="total"><strong>Total</strong><span class="num">@ViewBag.total</span></p>
        <p>
            <a href="@Url.Action("Index", "Home")" class="button muted">Continue Shopping</a>
            @if (@Session["TenDV"] == null)
            {
                <a href="@Url.Action("Login", "Donvi")" class="button">Finalize and pay</a>

            }
            else
            {
                <a href="@Url.Action("Payment", "Thanhtoan")" class="button">Finalize and pay</a>
            }

        </p>
    </div> <!-- .cart-total -->


</div>



